<!DOCTYPE html>
<html>
    <head>
        <title>404 page</title>
        <link rel="icon" href="imgs/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        {{errorDescription}}
        </div>
        {{>footer}}
    </body>
</html>